blinker==1.9.0
certifi==2026.6.17
charset-normalizer==3.4.9
click==8.4.2
ezdxf==1.4.4
Flask==3.0.2
Flask-Cors==4.0.0
fonttools==4.63.0
gunicorn==23.0.0
idna==3.18
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
neo4j==5.28.4
numpy==2.2.6
packaging==26.2
psycopg[binary]==3.3.4
pyparsing==3.3.2
pytz==2026.2
requests==2.31.0
typing_extensions==4.16.0
urllib3==2.7.0
usd-core==26.5
Werkzeug==3.1.8
